Data :
- Qualitative - 
    -things, and their attributes

- Quantative
    - sizes of quantities

- Tables, something like columns
    - row - stores data in numbers

- Two things
- Central Tendency - We try to identify the middle/average/common value
- Spread - how much the data is spread around

In [13]:
import statistics
numbers = [50, 47, 51, 49, 47]
mean_value = statistics.mean(numbers)
print(f"The mean is: {mean_value}")

The mean is: 48.8

In [15]:
num = [50, 5, 130, 80, 20]
list.sort(num)
num

[5, 20, 50, 80, 130]

In [17]:
median_value = statistics.median(num)
print(f"The median is: {median_value}")

The median is: 50

### Explore how to sort a list mnually

create a program, that takes a list, and returns a sorted list
- only allowed to google, when you have struggled atleast 1 hour
- use google, create a different program, based on the same - understand what is happening
- you are not allowed to use list methods or libraries
- can use list, but not methods
- you can use numpy but not the methods like sort

In [ ]:
nums = []

In [ ]:
import pandas as pd

In [7]:
iris = pd.read_csv('iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
x = {
    'a': [1,2,3,4,5,6,7],
    'b': [3,3,4,5,5,5,6]
}
xdf = pd.DataFrame(x)
xdf

In [ ]:
xdf['b'].std() # variance
xdf['b'].var()
xdf['b'].count()

In [10]:
# variance
import numpy as np

class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])

mean = sum(class1)/len(class1)
print('mean is: ', mean)

sumofdifferences = np.array([((class1 - mean)**2)])
variance1 = (sumofdifferences.sum())/len(class1)
print('The variance is: ',variance)

mean is:  48.8
The variance is:  1996.0

In [11]:
mean = sum(class2)/len(class2)
print('mean is: ', mean)

sumofdifferences = np.array([((class2 - mean)**2)])
variance2 = (sumofdifferences.sum())/len(class2)
print('The variance is: ',variance)

mean is:  57.0
The variance is:  1996.0

In [12]:
std1 = variance1**0.5
std2 = variance2**0.5

print(std1,std2)

1.5999999999999999 44.67661580737735