In [16]:
data = [
    {"Transaction ID": 1001, "Customer Name": "Alice Smith", "Email": "alice@example.com", "Product": "Laptop", "Quantity": 1, "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},
    {"Transaction ID": 1002, "Customer Name": "Bob Jones", "Email": None, "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-16", "Delivery Status": True},
    {"Transaction ID": 1003, "Customer Name": "Charlie Johnson", "Email": "charlie#example.com", "Product": "Smartphone", "Quantity": 1, "Price": 800.00, "Purchase Date": "16/09/2024", "Delivery Status": True},
    {"Transaction ID": 1004, "Customer Name": "David Lee", "Email": "david.lee@example.com", "Product": "Laptop", "Quantity": 1, "Price": 1200.00, "Purchase Date": "2024-09-17", "Delivery Status": False},
    {"Transaction ID": 1005, "Customer Name": "Eve Martinez", "Email": "eve.martinez@example.com", "Product": "Smartwatch", "Quantity": 3, "Price": None, "Purchase Date": "17th Sep 2024", "Delivery Status": True},
    {"Transaction ID": 1006, "Customer Name": "Frank Wright", "Email": None, "Product": "Tablet", "Quantity": None, "Price": 600.00, "Purchase Date": "2024-09-18", "Delivery Status": False},
    {"Transaction ID": 1007, "Customer Name": "Grace Lee", "Email": "grace.lee@example.com", "Product": "Laptop", "Quantity": 1, "Price": 1200.00, "Purchase Date": "2024-09-19", "Delivery Status": True},
    {"Transaction ID": 1008, "Customer Name": "Hank Brown", "Email": "hank.brown@example.com", "Product": "Monitor", "Quantity": 2, "Price": 300.00, "Purchase Date": "09/19/2024", "Delivery Status": True},
    {"Transaction ID": 1009, "Customer Name": "Ivy Thompson", "Email": None, "Product": "Keyboard", "Quantity": 2, "Price": 100.00, "Purchase Date": "2024/09/20", "Delivery Status": False},
    {"Transaction ID": 1010, "Customer Name": "Jack Davis", "Email": "jack@example.com", "Product": "Mouse", "Quantity": 5, "Price": 50.00, "Purchase Date": "2024-09-21", "Delivery Status": True},
    {"Transaction ID": 1011, "Customer Name": "Alice Smith", "Email": "alice@example.com", "Product": "Laptop", "Quantity": 1, "Price": 1200.00, "Purchase Date": "2024-09-15", "Delivery Status": True},  # Duplicate entry
    {"Transaction ID": 1012, "Customer Name": "Kurt Evans", "Email": "kurt.evans@example.com", "Product": "Smartwatch", "Quantity": -1, "Price": 200.00, "Purchase Date": "2024-09-22", "Delivery Status": True},  # Outlier quantity
    {"Transaction ID": 1013, "Customer Name": "Liam Adams", "Email": "liam.adams@example.com", "Product": "Headphones", "Quantity": 2, "Price": 150.00, "Purchase Date": "2024-09-23", "Delivery Status": False},
    {"Transaction ID": 1014, "Customer Name": "Mia Clark", "Email": "mia.clark@example.com", "Product": None, "Quantity": 1, "Price": 0, "Purchase Date": "2024-09-24", "Delivery Status": True},  # Price anomaly
    {"Transaction ID": 1015, "Customer Name": "Nina Turner", "Email": None, "Product": "Tablet", "Quantity": 1, "Price": 600.00, "Purchase Date": "24-09-2024", "Delivery Status": True},
    {"Transaction ID": 1016, "Customer Name": "Oscar Harris", "Email": "oscar.harris@example.com", "Product": "Laptop", "Quantity": 2, "Price": 1200.00, "Purchase Date": "2024-09-25", "Delivery Status": True},
    {"Transaction ID": 1017, "Customer Name": "Paul Young", "Email": "paulyoung", "Product": "Monitor", "Quantity": 2, "Price": 300.00, "Purchase Date": "09/25/2024", "Delivery Status": True},
    {"Transaction ID": 1018, "Customer Name": "Quinn Lopez", "Email": None, "Product": "Smartphone", "Quantity": 1, "Price": 800.00, "Purchase Date": "2024-09-26", "Delivery Status": False},
    {"Transaction ID": 1019, "Customer Name": "Rachel Scott", "Email": "rachel.scott@example.com", "Product": "Keyboard", "Quantity": 2, "Price": 100.00, "Purchase Date": "2024-09-27", "Delivery Status": True},
    {"Transaction ID": 1020, "Customer Name": "Steve King", "Email": "steve.king@example.com", "Product": "Mouse", "Quantity": None, "Price": 50.00, "Purchase Date": "2024-09-28", "Delivery Status": True},
]

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.DataFrame(data)
df.head()

,Transaction ID,Customer Name,Email,Product,Quantity,Price,Purchase Date,Delivery Status
0,1001,Alice Smith,alice@example.com,Laptop,1.0,1200.0,2024-09-15,True
1,1002,Bob Jones,None,Headphones,2.0,150.0,2024-09-16,True
2,1003,Charlie Johnson,charlie#example.com,Smartphone,1.0,800.0,16/09/2024,True
3,1004,David Lee,david.lee@example.com,Laptop,1.0,1200.0,2024-09-17,False
4,1005,Eve Martinez,eve.martinez@example.com,Smartwatch,3.0,NaN,17th Sep 2024,True

In [7]:
learners = {
        'names' : ['idrees','ibrahim','hazira','aisyah','amin']
    }
x = pd.DataFrame(learners)
x

     names
0   idrees
1  ibrahim
2   hazira
3   aisyah
4     amin

In [8]:
x['state'] = {0:8,1:1, 2:1, 3:1, 4:9, 4: np.nan, 5: None }
# x['state'] = (1,2,3,44,55,66)

x1 = x['state'][5]
x1

KeyError: 5

In [ ]:
#df.info()
df.describe(include='all')# numerical # values for all columns

       Transaction ID   Quantity        Price
count        20.00000  18.000000    19.000000
mean       1010.50000   1.611111   536.842105
std           5.91608   1.195033   472.241142
min        1001.00000  -1.000000     0.000000
25%        1005.75000   1.000000   125.000000
50%        1010.50000   1.500000   300.000000
75%        1015.25000   2.000000  1000.000000
max        1020.00000   5.000000  1200.000000

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df['Customer Name'].duplicated().sum()

np.int64(1)